<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/add-product">Add Product</a></li>
                <li><a href="/Contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/success" method="post"><br>
           <b>Email:</b> <input type="email" name="mail"><br>
           <b>User Name:</b> <input type="text" name="name"><br>
          <b>Contact:</b> <input type="tel" name="name"><br>
            <button type="submit"> Contact</button>
        </form>
    </main>
</body>
</html>